{% extends "layout.twig" %}
{% block title %}Article{% endblock %}

{% block content %}
    <h1> {{ article.title }} </h1>
    <section>
            <article>
              
                <p>
                    {{ article.body }}
                </p>
            </article>

            
    </section>
{% endblock %}
