{% extends "layout.twig" %}

{% block content %}
    <h1>Home</h1>
    <section>
            <article>
                <h2>{{ article.title }}</h2>
                <p>
                    {{ article.body }}
                </p>
            </article>

            <section>
                <h2>Tweet :</h2>
                {% for results in tweets %}
                    {% for tweet in results %}
                    <article>
                        <p>
                            {{ tweet.text }}
                        </p>
                    </article>
                    {% endfor %}
                {% endfor %}
            </section>
    </section>
{% endblock %}
