{% extends "layout.twig" %}
{% block title %}Accueil{% endblock %}


{% block content %}
    <h1>Home</h1>
    <section>
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <ul>
                    {% for idTag, tag in article.tags %}
                        {% if tag %}
                        <li class="tag">
                            <a href="{{ app.url_generator.generate('filterArticle', { idTag: idTag }) }}">
                                {{tag}}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>
                    {{ article.body }}
                </p>
            </article>
        {% endfor %}
    </section>
{% endblock %}
